
<div class="row">
    <div class="col-xs-12"
        ba-panel
        ba-panel-title="White Hackers"
        ba-panel-class="large-panel with-scroll feed-panel">
    
        <div>
            <div class="feed-messages-container" track-width="smallContainerWidth" min-width="360">
                <div class="col-xs-1 feed-message"  ng-click="expandMessage(message)">
                    <div class="message-icon">
                    <img class="photo-icon" ng-src="assets/img/app/profile/Masa.png">
                    </div>
                </div>
            </div>
            <div class="feed-messages-container" track-width="smallContainerWidth" min-width="360">
                <div class="col-xs-9 feed-message"  ng-click="expandMessage(message)">
                    <div class="text-block text-message">
                        <div class="message-header">
                            <span class="author">Kenta Satomi</span>
                        </div>
                        <div class="message-content-list line-clamp">
                        SKILLS:&nbsp;&nbsp;BlockChain,押売り
                        </div>
                    </div>
                </div>
            </div>
            <div class="feed-messages-container" track-width="smallContainerWidth" min-width="360">
                <div class="col-xs-2 feed-message lcpoint"  ng-click="expandMessage(message)"> 
                    <div class="lcpoint">
                            LC:&nbsp;129p
                    </div>               
                    
                </div>
            </div>
        </div>

        <div>
            <div class="feed-messages-container" track-width="smallContainerWidth" min-width="360">
                <div class="col-xs-1 feed-message"  ng-click="expandMessage(message)">
                    <div class="message-icon">
                    <img class="photo-icon" ng-src="assets/img/app/profile/Masa.png">
                    </div>
                </div>
            </div>
            <div class="feed-messages-container" track-width="smallContainerWidth" min-width="360">
                <div class="col-xs-9 feed-message"  ng-click="expandMessage(message)">
                    <div class="text-block text-message">
                        <div class="message-header">
                            <span class="author">Kenta Satomi</span>
                        </div>
                        <div class="message-content-list line-clamp">
                        SKILLS:&nbsp;&nbsp;BlockChain,押売り
                        </div>
                    </div>
                </div>
            </div>
            <div class="feed-messages-container" track-width="smallContainerWidth" min-width="360">
                <div class="col-xs-2 feed-message lcpoint"  ng-click="expandMessage(message)"> 
                    <div class="lcpoint">
                            LC:&nbsp;129p
                    </div>               
                    
                </div>
            </div>
        </div>

        <div>
            <div class="feed-messages-container" track-width="smallContainerWidth" min-width="360">
                <div class="col-xs-1 feed-message"  ng-click="expandMessage(message)">
                    <div class="message-icon">
                    <img class="photo-icon" ng-src="assets/img/app/profile/Masa.png">
                    </div>
                </div>
            </div>
            <div class="feed-messages-container" track-width="smallContainerWidth" min-width="360">
                <div class="col-xs-9 feed-message"  ng-click="expandMessage(message)">
                    <div class="text-block text-message">
                        <div class="message-header">
                            <span class="author">Kenta Satomi</span>
                        </div>
                        <div class="message-content-list line-clamp">
                        SKILLS:&nbsp;&nbsp;BlockChain,押売り
                        </div>
                    </div>
                </div>
            </div>
            <div class="feed-messages-container" track-width="smallContainerWidth" min-width="360">
                <div class="col-xs-2 feed-message lcpoint"  ng-click="expandMessage(message)"> 
                    <div class="lcpoint">
                            LC:&nbsp;129p
                    </div>               
                    
                </div>
            </div>
        </div>


       
    </div>


</div>